<h1>Team Page</h1>

<div>
<h2>Présentation de l'équipe</h2>
<p>
  équipe formée de 3 personnes
  <ul>
    <li>fifi</li>
    <li>riri</li>
    <li>loulou</li>
  </ul>
</p>
<%= link_to "retour à l'acceuil", root_path %>
</div>