<div class="container">

  <div class="page_header">
    <h3>Modify your Comment</h3>
  </div>

  <div>

    <%= form_tag com_path, method: "patch" do %>

      <div class="mb-3">
        <label for="Title" class="form-label"><strong>Comment:</strong></label>
        <div >
          <%= text_field_tag 'content', :content, class: "form-control" %>
        </div>   
      </div>

      <%= submit_tag "Update comment", class: "btn btn-primary" %>
      
    <% end %>

  </div>
  <div>
    <p>
      <a href="<% com_path%>" class="btn btn-danger" data-confirm="Are you sur ?" data-method="DELETE">Delete comment</a>
    </p>
  </div>
</div>